In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os

sys.path.append('../')

In [2]:
from src.create_dataset import MIMIC_III
from src.create_dataset import MIMIC_IV
from src.create_dataset import Dataset

In [3]:
cleaned_df = Dataset("/Users/jibuthomas/Documents/mimic-iv-2.2","/Users/jibuthomas/Documents/mimic-iii-clinical-database-1.4")

In [4]:
cleaned_df.load_data()

In [5]:
cleaned_df.clean_data()

In [6]:
cleaned_df.build()

In [7]:
cleaned_df.df.shape

(244, 25)

In [8]:
cleaned_df.df.head()

,subject_id,hadm_id,seq_num,icd_code,icd_version,admittime,admission_type,admission_location,discharge_location,insurance,...,anchor_year,first_careunit,last_careunit,intime,los,drg_code,description,drg_severity,drg_mortality,ed_los
0,10196368,24464472,1.0,80604,9.0,2184-05-03 13:50:00,EW EMER.,EMERGENCY ROOM,REHAB,Other,...,2182.0,Trauma SICU (TSICU),Trauma SICU (TSICU),2184-05-03 14:36:00,2.301308,40.0,SPINAL DISORDERS & INJURIES,2.0,2.0,658.0
1,10348324,27926100,1.0,80608,9.0,2137-06-29 20:21:00,EW EMER.,EMERGENCY ROOM,REHAB,Other,...,2137.0,Trauma SICU (TSICU),Trauma SICU (TSICU),2137-07-02 01:42:38,1.893750,23.0,SPINAL PROCEDURES,2.0,1.0,372.0
2,10393331,21425859,1.0,80600,9.0,2114-03-27 00:01:00,EW EMER.,EMERGENCY ROOM,REHAB,Other,...,2114.0,Trauma SICU (TSICU),Trauma SICU (TSICU),2114-03-27 01:30:00,17.376539,4.0,TRACHEOSTOMY W MV 96+ HOURS W EXTENSIVE PROCEDURE,4.0,3.0,384.0
3,10441044,21256821,3.0,80605,9.0,2165-06-19 01:58:00,EW EMER.,EMERGENCY ROOM,HOME,Other,...,2165.0,Trauma SICU (TSICU),Trauma SICU (TSICU),2165-06-19 03:27:00,13.884815,912.0,MUSCULOSKELETAL & OTHER PROCEDURES FOR MULTIPL...,4.0,3.0,183.0
4,10521666,28942795,1.0,80605,9.0,2176-03-24 08:24:00,EW EMER.,EMERGENCY ROOM,REHAB,Medicare,...,2176.0,Trauma SICU (TSICU),Trauma SICU (TSICU),2176-03-24 09:29:00,29.218449,23.0,SPINAL PROCEDURES,3.0,3.0,212.0

In [9]:
cleaned_df.drop_columns(['icd_version', 'discharge_location', 'anchor_year'])

In [10]:
cleaned_df.drop_na(subset = 'drg_code')

In [11]:
cleaned_df.df.shape

(204, 22)

In [12]:
cleaned_df.extract_datetime_components('intime', ['month','day','hour','weekend'])

In [13]:
cleaned_df.df.head()

,subject_id,hadm_id,seq_num,icd_code,admittime,admission_type,admission_location,insurance,language,marital_status,...,los,drg_code,description,drg_severity,drg_mortality,ed_los,intime_month,intime_day,intime_hour,intime_weekend
0,10196368,24464472,1.0,80604,2184-05-03 13:50:00,EW EMER.,EMERGENCY ROOM,Other,ENGLISH,MARRIED,...,2.301308,40.0,SPINAL DISORDERS & INJURIES,2.0,2.0,658.0,May,Monday,14,False
1,10348324,27926100,1.0,80608,2137-06-29 20:21:00,EW EMER.,EMERGENCY ROOM,Other,ENGLISH,MARRIED,...,1.893750,23.0,SPINAL PROCEDURES,2.0,1.0,372.0,July,Tuesday,1,False
2,10393331,21425859,1.0,80600,2114-03-27 00:01:00,EW EMER.,EMERGENCY ROOM,Other,?,UNKNOWN,...,17.376539,4.0,TRACHEOSTOMY W MV 96+ HOURS W EXTENSIVE PROCEDURE,4.0,3.0,384.0,March,Tuesday,1,False
3,10441044,21256821,3.0,80605,2165-06-19 01:58:00,EW EMER.,EMERGENCY ROOM,Other,ENGLISH,SINGLE,...,13.884815,912.0,MUSCULOSKELETAL & OTHER PROCEDURES FOR MULTIPL...,4.0,3.0,183.0,June,Wednesday,3,False
4,10521666,28942795,1.0,80605,2176-03-24 08:24:00,EW EMER.,EMERGENCY ROOM,Medicare,ENGLISH,MARRIED,...,29.218449,23.0,SPINAL PROCEDURES,3.0,3.0,212.0,March,Sunday,9,True

In [14]:
cleaned_df.drop_columns(['subject_id', 'hadm_id', 'intime', 'admittime'])

In [15]:
cleaned_df.df.shape

(204, 22)

In [16]:
cleaned_df.df.dtypes

seq_num               float64
icd_code               object
admission_type         object
admission_location     object
insurance              object
language               object
marital_status         object
race                   object
gender                 object
anchor_age              int64
first_careunit         object
last_careunit          object
los                   float64
drg_code              float64
description            object
drg_severity          float64
drg_mortality         float64
ed_los                float64
intime_month           object
intime_day             object
intime_hour             int32
intime_weekend           bool
dtype: object

In [17]:
cleaned_df.change_datatype(['intime_weekend'], 'int')

In [18]:
cleaned_df.change_datatype(['drg_severity','drg_mortality','seq_num','icd_code','admission_type','admission_location','insurance','language','marital_status','race','gender','first_careunit','last_careunit','drg_code','intime_month', 'intime_day'], 'category')

In [19]:
cleaned_df.drop_columns(['intime_hour', 'description'])

In [20]:
cleaned_df.df.shape

(204, 20)

In [21]:
cleaned_df.log_transform(['anchor_age','ed_los'])

In [22]:
cleaned_df.df.dtypes

seq_num               category
icd_code              category
admission_type        category
admission_location    category
insurance             category
language              category
marital_status        category
race                  category
gender                category
first_careunit        category
last_careunit         category
los                    float64
drg_code              category
drg_severity          category
drg_mortality         category
intime_month          category
intime_day            category
intime_weekend           int64
log_anchor_age         float64
log_ed_los             float64
dtype: object

In [23]:
from src.engineer_features import get_preprocessor_and_split

In [24]:
# Define parameters
config = {
    'target_col': 'los',
    'numeric_features': ['log_anchor_age', 'log_ed_los'],
    'categorical_features': ['seq_num', 'icd_code','admission_type','admission_location','insurance','language','marital_status','race','gender','first_careunit','last_careunit','drg_code','intime_month','intime_day'],
    'test_size': 0.2,
    'random_state': 42
}

# Execute processing
X_train, X_test, y_train, y_test, preprocessor = get_preprocessor_and_split(
    data=cleaned_df.df,
    **config
)

NameError: name 'FunctionTransformer' is not defined

In [ ]:
X_train.shape

(163, 141)